{% extends 'base.html.twig' %}

{% block title %}Menu - SOLFOOD{% endblock %}

{% block body %}
{% for message in app.flashes('commande') %}
	<div class="alert alert-success">
	<h3>{{message}}</h3>
	</div>
{% endfor %} 
<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Menu</h2>
			</div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter=".Boissons">Boissons</li>
					<li class="control" data-filter=".Entrées">Entrées</li>
					<li class="control" data-filter=".Plats">Plats</li>
					<li class="control" data-filter=".Desserts">Desserts</li>
					<li class="control" data-filter="all">Tout</li>
				</ul>
			</div>                                              
			<div class="clearfix"></div>
			<div class="row playlist-area">
            {% for dish in dishe %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 genres {{dish.category}}">
					<div class="playlist-item">
						<img src="{{asset('plat/' ~ dish.image)}}" >
						<h5>{{dish.name}}<br>{{dish.price}} DZD</h5>
                        <p>Numéro. {{dish.id}}</p>
						<a class="btn btn-outline-danger btn-sm" href={{ path('order', {id:dish.id}) }} role="button">Commander</a>
					</div>
				</div>
            {% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
